name: docker-build

on:
  workflow_dispatch:

env:
  DOCKERHUB_REPO: giterhub/ariang

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get latest release tag
        uses: dragonish/get-latest-release-tag@v1
        id: latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: 'dragonish/get-latest-release-tag'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DeckerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          tags: |
            ${{ env.DOCKERHUB_REPO }}:latest
            ${{ env.DOCKERHUB_REPO }}:${{ steps.latest.outputs.tag }}
          platforms: |
            linux/amd64
            linux/386
            linux/arm64
            linux/arm/v7
